# Fichier .env
# Adresse IP de la machine pour le certificat
IP_ADDRESS=127.0.0.1
# Version d'Elasticsearch, Kibana et Logstash
ELASTICSEARCH_VERSION=8.x
KIBANA_VERSION=8.x
LOGSTASH_VERSION=8.x
# Configuration d'Elasticsearch (/etc/elasticsearch/elasticsearch.yml)
CLUSTER_NAME=es01
HTTP_PORT=9200
# Configuration de Kibana (/etc/kibana/kibana.yml)
KIBANA_SERVER_PORT=5601
KIBANA_SERVER_HOST="0.0.0.0"

